/* GENERAL */
:root {
    --btn_primary: rgb(212,182,148);
    --btn_primary_light: rgb(246, 232, 215);
    --btn_primery_hover: rgb(180,146,108);

    --bg_anuncio: rgb(246,235,228);
    --txt_anuncio: #624C40;
    --txt_anuncio_hover: #9e7e6d;

    --bg_principal: #F8F8F8;
}

body{
    font-family: 'cormorant';
    background-color: var(--bg_principal);
}

header{
    height: 80px
}

.navbar{
    background-color: white!important;
    padding: 0!important;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler i{
    color: var(--btn_primary);
}
.nav-logo{
    height: 70px;
}
.navbar-nav {
    margin-left: auto;
}
li{
    margin: 0 2rem;
}
.nav-link{
    color:var(--btn_primary)!important;
    padding-right: .9rem!important;
    padding-left: .9rem!important;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--btn_primary);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
li .nav-link {
    overflow: hidden;
}
  
li .nav-link::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

li .nav-link:hover::after,
li .nav-link:focus::after{
    transform: translate3d(0, 0, 0);
}
.active{
  border-bottom: solid 1px var(--btn_primary)
}

footer{
    width: 100%;
    height: 70px;
    background-color: black;
}
footer .container{
    height: 100%;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}


.btn-primary{
    background-color:var(--btn_primary)!important;
    border: none!important;
}
.btn-primary:hover{
    background-color:var(--btn_primery_hover)!important;
    border: none!important;
}



@media (min-width:641px)  { 
    .nav-logo{
        margin-left: 50px;
    }
}
/* GENERAL */